<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/menu :: head"></head>
<body>
	<header th:replace="includes/menu :: header "></header>

	<div class="container theme-showcase" role="main">
		<div class="card bg-dark">
			<h3 class="blog-title">
				<span class="label label-success">Edición Usuario</span>

			</h3>

			<br>
			<div class="panel panel-default">
				<div class="panel-heading">
					<form th:action="@{/usuarios/buscar}" method="get">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Cuenta</label> <input id="cuenta" name="cuenta1"
									type="text" placeholder="Cuenta" required="required"
									autocomplete="off" class="form-control">

							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">

								<label>E-mail</label> <input id="email" name="email1"
									type="email" required="required" autocomplete="off"
									placeholder="aaaaa@uce.edu.ec"
									pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3,4})+$/"
									onKeyUp="javascript:validateMail('email')" class="form-control">

							</div>
						</div>
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" />
						<button type="submit" title="Buscar" class="btn btn-primary">Buscar</button>
					</form>
				</div>

				<div class=" panel-body">

					<form th:action="@{/usuarios/savePassword}" th:object="${usuario}"
						method="post">
						<input type="hidden" th:field="*{id}" />
						
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="centrar" for="pwd">Password</label> <input
										type="text" class="form-control" th:field="*{pwd}"
										id="pwd" required="required" />
								</div>
							</div>
						</div>
						<div class="btn-toolbar" role="toolbar">
							<div class="btn-group">
								<input type="submit" title="Guardar" value="Guardar"
									class="btn btn-primary" />
							</div>

							<div class="btn-group">
								<a th:href="@{/usuarios/cancelNewUser}" class="btn btn-danger"
									role="button" title="Cancelar">Cancelar</a>
							</div>
						</div>
						<br>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<footer th:replace="includes/footer :: footer"></footer>
</body>
</html>